TRAINING DATA/day15 onwards/day 19/XMLTest/WebContent/emp.xsd

<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://xml.netbeans.org/schema/emp">


<xsd:element name="employee" >
	<xsd:complexType>
	<xsd:sequence>
		<xsd:element name="name" type="xsd:string"/> 
		<xsd:element name="id" type="xsd:integer"/> 
		<xsd:element name="salary" default="10000"> 
			<xsd:simpleType>
			<xsd:restriction base="xsd:double">
				<xsd:minInclusive value="10000"/>
			</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>
	</xsd:complexType> 
</xsd:element>


</xsd:schema>